name: tests-suite

on:
  push:
    branches:
      - staging # because we can force-push on staging
  pull_request:
    branches:
      - main
      - staging

jobs:
  tests-suite-by-version:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
    - name: Run tests
      run: |
        pytest tests
  tests-suite:
    runs-on: ubuntu-latest
    needs: tests-suite-by-version
    if: success() || failure()
    steps:
    - name: Check status of tests-suite-by-version
      run: |
        if [ "${{ needs.tests-suite-by-version.result }}" != "success" ]; then
          echo "Previous job(s) failed."
          exit 1
        else
          echo "All previous jobs passed."
        fi
